.form-box {
    text-align: center;
}

.form-width{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-width{
    height: 40px;
    width: 57%;
    border-radius: 2px !important;
}

.add-btn {
    border-radius: 2px !important;
    height: 40px;
    width: 10%;
    white-space: nowrap;
}

.save-btn {
    padding: 6px;
    border-radius: 2px;
}

.edit-input {
    border-radius: 2px !important;
}

.task-box{
    display: flex;
    justify-content: start;
    gap: 28px;
}

.inside-task-box{
    height: 40px;
}


.list-box{
 margin-top: 60px;
}

.label-style{
    font-weight: 500;
    white-space: nowrap;

}
